*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #000000;
}

.content{
	background-color: #FFC107; 
	padding: 30px;
	margin: auto;
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin-top: 40px;
	min-height: 250px;
	border-radius: 40px;
	box-shadow: 5px 5px 20px yellow;

}

.content:hover{
	background: #FF9C07;

}


section .bgcolor{
	background-color: black;
	padding-top: 50px;
	width: 100%;
    max-width: 300px;
    min-height: 200px;
    border-radius: 5px;
}

section span{
	font-size: 3em;
    color: white;
}

section #res{
	font-size: 2em;
	color: white;

}

section .log{
	font-size: 2.2em;
	color: white;

}

section input{
	color: white;
	width: 80%;
	background-color: transparent;
	border: none;
	border-bottom: 5px solid #FFC107;
	margin: 20px;
    font-size: 2.2em;
    text-align: center;
}

section input:focus{
	outline: none;
}

section input:focus{
	border-color: #989400;
}

section button:hover{
	cursor: pointer;
}

section button:focus{
	outline: none;
}


section button:active{
	background-color: #C19100;
}



section button{
	width: 25%;
    height: 35px;
    margin: 20px;
}

section button{
	background-color: yellow;
	border: none;
	text-decoration: none;
	border-radius: 5px;

}

